# Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
#
# NVIDIA CORPORATION and its licensors retain all intellectual property
# and proprietary rights in and to this software, related documentation
# and any modifications thereto.  Any use, reproduction, disclosure or
# distribution of this software and related documentation without an express
# license agreement from NVIDIA CORPORATION is strictly prohibited.

# rebindEthernet - rebindEthernet which modifies /sys/bus/usb/drivers/smsc95xx/*
type rebindEthernet, domain;
permissive rebindEthernet;
type rebindEthernet_exec, exec_type, file_type;

init_daemon_domain(rebindEthernet)
allow rebindEthernet sysfs:file write;
allow rebindEthernet rebindEthernet_exec:file open;
allow rebindEthernet shell_exec:file read;
